<% provide(:title, "ユーザー情報の変更") %>
<% provide(:button_text, '変更を保存する') %>
<h1>ユーザー情報の変更</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワードの確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <span class="image">
        <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" %>
      </span>

      <%= f.submit "変更を保存する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $("#user_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 3) {
      alert("設定できるファイルの最大サイズは3MBです。\n ファイルサイズを小さくしてください。");
      $("#user_image").val("");
    }
  });
</script>