<% provide(:title, "ユーザー一覧") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if current_user.image.attached? %>
          <%= image_tag current_user.display_user_image %>
      <% else %>
        <%= image_tag "default.png" %>
      <% end %>
      <div class="user_name">
        <h1><%= current_user.user_name %></h1>
      </div>      
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <h1>ユーザー一覧</h1>
    <%= will_paginate %>
      <ul class="users">
        <% @users.each do |user| %>
          <li>
            <% if user.image.attached? %>
              <%= image_tag user.display_user_image %>
            <% else %>
              <%= image_tag "default.png" %>
            <% end %>
            <%= link_to user.user_name, user %>
              <% @user = user %>
            <p><%= render 'follow_form_mini' %></p>
          </li>
          <hr>
        <% end %>
      </ul>
    <%= will_paginate %>
</div>

