<% provide(:title, "ユーザープロフィールの変更") %>
<% provide(:button_text, '変更を保存する') %>
<h1>プロフィールの変更</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, url: "/users/#{@user.name}/profile_update", local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :profile, "ユーザープロフィール" %>
      <%= f.text_area :profile, class: 'form-control' %>
      <%= f.submit "変更を保存する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>