<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.image.attached? %>
          <%= image_tag @user.display_user_image %>
      <% else %>
        <%= image_tag "default.png" %>
      <% end %>
      <div class="user_name">
        <h1><%= @user.user_name %></h1>
        <div class="profile_account_name"><%= link_to @user.name, @user %></div>
      </div>
      <span><%= pluralize(@user.microposts.count, "  件の投稿") %></span>
      <li>
        <% if current_user.admin? && !current_user?(@user) %>
        | <%= link_to "ユーザーを削除", @user, method: :delete,
                                    data: { confirm: "本当に削除してよろしいですか？" } %>
        <% end %>
      </li>  
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <div class="profile-title"><p>自己紹介</p></div>
    <div class="profile">
      <p><%= @user.profile %></p>
    </div>
  </aside>

  <div class="col-md-8">
  <%= render 'follow_form' if logged_in? %>
  <% if @user.microposts.any? %>
    <h3>投稿 (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
    <% @microposts.each do |micropost| %>
      <%= render micropost %>
    <% end %>
    </ol>
      <%= will_paginate @microposts %>
  <% end %>
  </div>
</div>
