<% @micropost = micropost %>
<li id="micropost-<%= @micropost.id %>">
  
  <% if @micropost.user.image.attached? %>
    <%= image_tag @micropost.user.display_user_image %>
  <% else %>
    <%= image_tag "default.png" %>
  <% end %>
  <span class="user">
    <%= link_to @micropost.user.user_name, @micropost.user %>
    <div class="account_name"><%= link_to "@"+@micropost.user.name, @micropost.user %></div>
  </span>
  <span class="content">
    <%= @micropost.content %>
    <br>
    <%= image_tag @micropost.display_image if @micropost.image.attached? %>
  </span>
  <span class="timestamp">
    投稿 <%= time_ago_in_words(@micropost.created_at) if @micropost.created_at %>前.
    <% if current_user?(@micropost.user) %>
      <%= link_to "削除", @micropost, method: :delete,
                                       data: { confirm: "削除してよろしいですか？" } %>
    <% end %>
    <span id="micropost_<%= @micropost.id %>">
      <% if  Like.find_by(micropost_id: @micropost.id, user_id: @current_user.id) %>
        <%= render 'microposts/unlike' %>
      <% else %>
        <%= render 'microposts/like' %>
      <% end %>
    </span>
    <span id="likes_count_<%= @micropost.id %>">
      <%= @micropost.likes.count %>
    </span>
    <% if request.path_info == "/" %>
    <span id="reply_<%= @micropost.id %>" >
       返信
    </span>
    <% end %>
  </span>
</li>
<script type="text/javascript">
  $(function () {
    $("#reply_<%= @micropost.id %>").click( function() {
      $("<%= $user_name = nil %>");
      $("<%= $user_name = @micropost.user.name %>");
      if(document.getElementById("micropost_content")){
        // テキストボックスへ値を設定します
        $("#micropost_content").val("<%= "@#{@micropost.user.name} " %>");
        $("<%= $user_name = nil %>");
        $('body,html').animate({
          scrollTop: 0
          }, 500);
        $("<%= $user_name = nil %>");
        return false; 
        }else{
          window.location.href = '/'; 
          $("<%= $user_name = @micropost.user.name %>");
        }
        ;
    
  })});
</script>