<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
  <a href="/users/<%=@user.name%>/likes">
    <strong id="likes" class="stat">
      <%= @user.likes.count %>
    </strong>
    いいね！
  </a>
  <a href="/users/<%=@user.name%>/reply">
    <strong id="reply" class="stat">
      <%= Micropost.where(in_reply_to: @user.id).count %>
    </strong>
    返信
  </a>
</div>