<div id = "user_info_image">
  <% if current_user.image.attached? %>
          <%= image_tag current_user.display_user_image %>
  <% else %>
    <%= image_tag "default.png" %>
  <% end %>
</div>
<div class="user_name">
  <h1><%= current_user.user_name %></h1>
</div>
<p>
  <span><%= link_to "プロフィール", current_user %></span>
</p>
<span><%= pluralize(current_user.microposts.count, "  件の投稿") %></span>