<div class="container">
  <% @user = current_user %>
  <%= link_to "ぽすと★いっと！", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right" >
      <li><%= link_to "ホーム",   root_path %></li>
      <li><%= link_to "ヘルプ",   help_path %></li>
      <li><%= link_to "このサイトについて",   about_path %></li>            
      <% if logged_in? %>
        <li><%= link_to "ユーザー一覧", users_path %></li>
        <li><%= link_to "ユーザー情報", edit_user_path(current_user) %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </nav>
<div class="username">
      <% if current_user %>
        <%= @user.name %>さん、ようこそ！
      <% end %> 
    </div>
</div>